<body> 
    <header>
        <div class="container">
            <div class="row align-items-stretch justify-content-between">
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <ul class="nav">
                    <li><a class="navbar-brand">Helados Vanila</a>
                        <ul *ngIf="rol == 'admin'">
                            <li><a (click)="reportePedidos()">PEDIDOS COMPLETADOS</a></li>
                            <li><a (click)="visualizarCatalogo()">VISUALIZAR CATALOGO</a></li>
                            <li><a (click)="pedidos()">PEDIDOS ACTIVOS</a></li>
                        </ul>
                    </li>
                </ul>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <ul class="nav">
                            <li class="nav-item dropdown">
                                <img src="assets/imagenes/logo2.jpg" class="nav-link dropdown-toggle img-fluid" height="70px"
                                    width="70px" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                            </li>
                            </ul>
                        </ul>
                    </div>
                    <a *ngIf="!logueado" class="navbar-brand" href="#">Regresar</a>
                    <a *ngIf="logueado" class="navbar-brand" href="#">Cerrar Sesion</a>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text-center">
            <h1 class="display-4 mt-4">REPORTE USUARIOS</h1>
        </div>

        <div class="container" id="lista-productos">
            
            <div class="card-deck mb-3 text-center">
                
                <div class="card mb-4 shadow-sm" style="align-self: absolute; position:absolute">
                    <div class="table">
                        <thead>
                            <tr class="table-primary">
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Telefono</th>
                                <th>Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios" style="background-color: rgb(255, 255, 255); text-align: center;">
                                <td>{{usuario.usuario}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.apellido}}</td>
                                <td>{{usuario.telefono}}</td>
                                <td>{{usuario.rol}}</td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

