<body>
    <div class="loginBox">
        <img [src]="imageSrc" class="user">
        <input type="submit" name="sumbit" value="VER CATALOGO" (click)="verCatalogo()">
        <h2>Inicio Sesion</h2>
        <form [formGroup]="userForm">
            <mat-form-field appearance="fill">
                <mat-label>Ingrese su Usuario</mat-label>
                <input matInput formControlName="usuario">
              </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Ingrese su contraseña</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="contraseña">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
            <input type="submit" name="sumbit" value="INICIAR SESION" (click)="inicioSesion()">
            <input type="submit" name="sumbit" value="REGISTRARSE" (click)="registrarUsuario()">
        </form>
    </div>
</body>