.registerBox
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 350px;
		height: 600px;
		padding: 80px 30px;
		box-sizing: border-box;
		background: #5d2888;
	}

.registerBoxinput
	{
		width: 100%;
		margin-bottom: 20px;
	}

::placeholder
	{
		color: rgb(255, 255, 255);
	}
.registerBox input[type="submit"]
	{
		border: none;
		outline: none;
		height: 40px;
		color: #fff;
		font-size: 16px;
		background: rgba(217, 106, 245, 0.8);
		cursor: pointer;
		border-radius: 20px;
	}
.registerBox input[type="submit"]:hover
	{
		background: #1a59a5;
		color: #ffffff;;
	}
.registerBox a
	{
		color: rgb(133, 0, 126);
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
	}

